{% extends  'lay.html' %}
{% load static %}
        {% block title %}СПРАВОЧНИК{% endblock %}
        {% block description %}<meta name="description" content="пользовательские телефоны и список студентов">{% endblock %}
        {% block words %}<meta name="words" content="GB, tested">{% endblock %}
	   
        {% block h_1 %}<h1 class="h1" style="visibility: hidden;">справочник всех телефонов и студентов</h1>{% endblock %}

		
        {% block body %}
        <p>Если вы на этой странице, значит все прошло удачно</p>
	{% endblock %}
 